#Footer{
    position: fixed;   
    bottom: 0;
    padding-bottom: 20em;
    width: 60%;
    display: flex;
    justify-content: center;
    color: #D2B48C;
    height: 30em;
    background-color: black;
    margin-left: -300px;
    
   


}